body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    background-color: var(--color-background-dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo {
    padding: 10px;
    height: 180px;
}

@media only screen and (max-width: 800px) {
    header {
        height: auto;
    }
    header #logo {
        height: auto;
        padding: 10px;
        width: 90%;
    }
}

.topNav {
    padding: 0;
    margin: 0;
    background-color: var(--color-background-dark);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

.topNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav .right {
    float: right;
}

.topNav a:hover {
    background-color: rgb(182, 182, 182);
    color: black;
}

.topNav a.active {
    background-color: #3aaa35;
    color: white;
}

#background {
    padding: 0;
    margin: 0;
}

main {}

div#footer {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}